Repository LitMusPortfolio/litmus9.com: changes, and which lefthook commands are due for each by the changed paths.
All: knip, lint, format, typecheck_stories, check_stories

knip:
  run: npm run knip -- --fix

lint:
  run: npx biome check --write {staged_files}

format:
  run: npx biome format --write {staged_files}

typecheck_stories:
  run: npm run typecheck:stories

check_stories:
  run: npm run check-stories

docs: READMEに動作テストの文言を一時追加
  README.md
Due: none

docs: READMEのテスト文言を削除
  README.md
Due: none

migrate pnpm
  .github/workflows/deploy.yml
  .github/workflows/update-base-screenshots.yml
  .github/workflows/visual-regression.yml
  .gitignore
  CLAUDE.md
  README.md
  lefthook.yml
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/check-stories.ts
  scripts/knip-wrapper.js
Due: knip, lint, format

fix: Biome lintエラーを修正
  public/lit/index.html
  src/components/Footer.tsx
  src/components/MobileNotice.stories.tsx
  src/components/Modal/index.tsx
  src/utils/collectDynamicAssets.ts
Due: knip, lint, format, typecheck_stories, check_stories

fix: pnpm-workspace.yamlにpackagesフィールドを追加
  pnpm-workspace.yaml
Due: none

docs: CLAUDE.mdを実態に合わせて整理・修正
  CLAUDE.md
Due: none

fix: visual regression CIの修正
  .github/workflows/visual-regression.yml
  .storybook/preview.tsx
  src/pages/AboutPage/index.stories.tsx
  src/pages/ContactPage/index.stories.tsx
  src/pages/HomePage/index.stories.tsx
  src/pages/VoicebankPage/index.stories.tsx
  src/pages/WorksPage/index.stories.tsx
Due: knip, lint, format, typecheck_stories

remove story
  scripts/check-stories.ts
  scripts/generate-stories.ts
Due: knip, lint, format

add chromatic
  package.json
  pnpm-lock.yaml
  src/pages/AboutPage/components/About.tsx
Due: knip, lint, format

feat: ChromaticのPR差分確認とTurboSnapを設定
  .github/workflows/chromatic.yml
  .storybook/main.ts
  package.json
  pnpm-lock.yaml
Due: knip, lint, format

fix: @chromatic-com/storybookをStorybook 8対応バージョンに変更
  package.json
  pnpm-lock.yaml
Due: none

feat: Storybook 9へアップグレードし@chromatic-com/storybook 4.1.3を使用
  .storybook/decorators/withViewports.tsx
  .storybook/main.ts
  .storybook/preview.tsx
  package.json
  pnpm-lock.yaml
  src/pages/AboutPage/index.stories.tsx
  src/pages/ContactPage/index.stories.tsx
  src/pages/HomePage/index.stories.tsx
  src/pages/VoicebankPage/index.stories.tsx
  src/pages/WorksPage/index.stories.tsx
Due: knip, lint, format, typecheck_stories

refactor: shared の各セグメントに公開APIを置く
  apps/web/src/app/shell/mobile-notice.tsx
  apps/web/src/app/shell/shop-link.tsx
  apps/web/src/app/shell/sns-links.tsx
  apps/web/src/pages/about/ui/about-page.tsx
  apps/web/src/pages/about/ui/about-profile.tsx
  apps/web/src/pages/contact/ui/contact-notices.tsx
  apps/web/src/pages/contact/ui/contact-page.tsx
  apps/web/src/pages/contact/ui/email-item.tsx
  apps/web/src/pages/home/ui/home-intro.tsx
  apps/web/src/pages/home/ui/home-page.tsx
  apps/web/src/pages/home/ui/tag-lines.tsx
  apps/web/src/pages/voicebank/ui/character-body.tsx
  apps/web/src/pages/voicebank/ui/character-section.tsx
  apps/web/src/pages/voicebank/ui/demo-song.tsx
  apps/web/src/pages/voicebank/ui/demo-songs.tsx
  apps/web/src/pages/voicebank/ui/download-browser.tsx
  apps/web/src/pages/voicebank/ui/download-detail.tsx
  apps/web/src/pages/voicebank/ui/download-section.tsx
  apps/web/src/pages/voicebank/ui/hero-copy.tsx
  apps/web/src/pages/voicebank/ui/hero-section.tsx
  apps/web/src/pages/voicebank/ui/rules-list.tsx
  apps/web/src/pages/voicebank/ui/rules-section.tsx
  apps/web/src/pages/voicebank/ui/voicebank-page.tsx
  apps/web/src/pages/works/ui/work-card.tsx
  apps/web/src/pages/works/ui/works-page.tsx
  apps/web/src/shared/lib/index.ts
  apps/web/src/shared/ui/backdrop.tsx
  apps/web/src/shared/ui/background-video.tsx
  apps/web/src/shared/ui/decoration-half.tsx
  apps/web/src/shared/ui/index.ts
  apps/web/src/shared/ui/marker.tsx
  apps/web/src/shared/ui/social-links.tsx
  apps/web/src/shared/ui/youtube-thumbnail.tsx
Due: knip, lint, format

docs: 旧 .claude/rules を消した理由と移し先を NOTE.md に残す
  NOTE.md
Due: none

docs: 旧サイトの検査ツールの置き換え先を NOTE.md に残す
  NOTE.md
Due: none

docs: NOTE.md の置き換え先の記述を対応関係だけに絞る
  NOTE.md
Due: none

chore: 使わなくなった Drizzle 用の lint プラグインを外す
  .fallowrc.jsonc
  NOTE.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vite.config.ts
Due: knip, lint, format

docs: NOTE.md を削除する
  NOTE.md
Due: none

feat: デモソングを YouTube の埋め込みに戻す
  apps/web/package.json
  apps/web/src/app/styles.css
  apps/web/src/pages/voicebank/ui/demo-song.tsx
  apps/web/src/pages/voicebank/ui/demo-songs.tsx
  apps/web/src/pages/works/lib/youtube.ts
  apps/web/src/pages/works/ui/work-card.tsx
  apps/web/src/pages/works/ui/youtube-thumbnail.tsx
  apps/web/src/shared/lib/index.ts
  apps/web/src/shared/ui/index.ts
  pnpm-lock.yaml
Due: knip, lint, format

feat: デプロイ先を GitHub Pages に戻し静的ビルドで配信する
  .github/workflows/deploy.yml
  SPEC.md
  apps/web/.env.example
  apps/web/alchemy.run.ts
  apps/web/public/lit/index.html
  apps/web/src/app/routeTree.gen.ts
  apps/web/src/app/routes/lit.tsx
  apps/web/vite.config.ts
  pnpm-workspace.yaml
  renovate.json
Due: knip, lint, format

refactor: /lit の転送ページからコメントと重複するスクリプトを外す
  apps/web/public/lit/index.html
Due: none

fix: 低モーション設定への対応と画像の寸法指定を加える
  apps/web/src/app/shell/home-link.tsx
  apps/web/src/app/shell/page-top-link.tsx
  apps/web/src/app/styles.css
  apps/web/src/pages/about/ui/about-page.tsx
  apps/web/src/pages/home/ui/home-page.tsx
  apps/web/src/pages/voicebank/ui/character-section.tsx
  apps/web/src/pages/voicebank/ui/download-links.tsx
  apps/web/src/pages/voicebank/ui/hero-section.tsx
  apps/web/src/shared/ui/background-video.tsx
Due: knip, lint, format

feat: スマートフォンでもサイトを閲覧できるようにする
  SPEC.md
  apps/web/src/app/base.css
  apps/web/src/app/routes/__root.tsx
  apps/web/src/app/shell/app-frame.tsx
  apps/web/src/app/shell/footer-contact.tsx
  apps/web/src/app/shell/footer.tsx
  apps/web/src/app/shell/header.tsx
  apps/web/src/app/shell/menu-button.tsx
  apps/web/src/app/shell/menu-drawer.tsx
  apps/web/src/app/shell/menu-header.tsx
  apps/web/src/app/shell/menu-links.tsx
  apps/web/src/app/shell/menu-page-link.tsx
  apps/web/src/app/shell/menu-state.ts
  apps/web/src/app/shell/mobile-menu.tsx
  apps/web/src/app/shell/mobile-notice.tsx
  apps/web/src/app/shell/nav-items.ts
  apps/web/src/app/shell/nav-menu.tsx
  apps/web/src/app/shell/page-top-link.tsx
  apps/web/src/app/styles.css
  apps/web/src/pages/about/ui/about-page.tsx
  apps/web/src/pages/about/ui/about-portrait.tsx
  apps/web/src/pages/home/ui/home-intro.tsx
  apps/web/src/pages/home/ui/home-page.tsx
  apps/web/src/pages/home/ui/tag-lines.tsx
  apps/web/src/pages/voicebank/ui/character-section.tsx
  apps/web/src/pages/voicebank/ui/download-body.tsx
  apps/web/src/pages/voicebank/ui/download-card-info.tsx
  apps/web/src/pages/voicebank/ui/download-image.tsx
  apps/web/src/pages/voicebank/ui/download-links.tsx
  apps/web/src/pages/voicebank/ui/download-panel.tsx
  apps/web/src/pages/voicebank/ui/free-download-button.tsx
  apps/web/src/pages/voicebank/ui/hero-copy.tsx
  apps/web/src/pages/voicebank/ui/hero-section.tsx
  apps/web/src/pages/works/ui/work-info.tsx
  apps/web/src/shared/ui/backdrop.tsx
  apps/web/src/shared/ui/container.tsx
  apps/web/src/shared/ui/filter-tabs.tsx
Due: knip, lint, format

refactor: メニューの開閉状態をモバイルメニューのファイルにまとめる
  apps/web/src/app/shell/menu-state.ts
  apps/web/src/app/shell/mobile-menu.tsx
Due: knip, lint, format

fix: 769〜968px の中間幅でもレイアウトが崩れないようにする
  apps/web/src/app/shell/menu-button.tsx
  apps/web/src/app/shell/nav-link-class.ts
  apps/web/src/app/shell/nav-menu.tsx
  apps/web/src/pages/voicebank/ui/free-download-button.tsx
  apps/web/src/pages/voicebank/ui/hero-section.tsx
  apps/web/src/shared/ui/filter-tabs.tsx
Due: knip, lint, format

Fix layout breakage found by frame-by-frame review at odd widths
  apps/web/src/app/base.css
  apps/web/src/app/shell/home-link.tsx
  apps/web/src/app/styles.css
  apps/web/src/pages/contact/ui/contact-notices.tsx
  apps/web/src/pages/voicebank/ui/character-body.tsx
  apps/web/src/pages/voicebank/ui/character-section.tsx
  apps/web/src/pages/voicebank/ui/demo-songs.tsx
  apps/web/src/pages/voicebank/ui/download-body.tsx
  apps/web/src/pages/voicebank/ui/download-image.tsx
  apps/web/src/pages/voicebank/ui/download-links.tsx
  apps/web/src/pages/voicebank/ui/download-panel.tsx
  apps/web/src/pages/voicebank/ui/free-download-button.tsx
  apps/web/src/pages/voicebank/ui/hero-copy.tsx
  apps/web/src/pages/voicebank/ui/hero-section.tsx
  apps/web/src/pages/voicebank/ui/hero-tagline.tsx
  apps/web/src/pages/voicebank/ui/profile-columns.tsx
  apps/web/src/pages/works/ui/youtube-thumbnail.tsx
  apps/web/src/shared/ui/decoration-half.tsx
  apps/web/src/shared/ui/framed-image.tsx
Due: knip, lint, format

feat: Works の掲載データを Pages CMS で編集できるようにする
  .github/workflows/format-cms.yml
  .pages.yml
  SPEC.md
Due: none

Keep Voicebank hero side-by-side and tighten Works cards on narrow screens
  apps/web/src/app/styles.css
  apps/web/src/pages/voicebank/ui/hero-copy.tsx
  apps/web/src/pages/voicebank/ui/hero-section.tsx
  apps/web/src/pages/works/ui/work-info.tsx
  apps/web/src/shared/ui/container.tsx
  apps/web/src/shared/ui/framed-image.tsx
Due: knip, lint, format

fix: Pages CMS の設定をドキュメントどおりにし、担当と依頼主を必須にする
  .pages.yml
Due: none

Pin the Voicebank illustration while the copy scrolls over it on narrow screens
  apps/web/src/app/shell/home-link.tsx
  apps/web/src/app/styles.css
  apps/web/src/pages/voicebank/ui/free-download-button.tsx
  apps/web/src/pages/voicebank/ui/hero-copy.tsx
  apps/web/src/pages/voicebank/ui/hero-section.tsx
  apps/web/src/pages/voicebank/ui/voicebank-page.tsx
Due: knip, lint, format

docs: LitMus のデザイン仕様書を DESIGN.md に取り込む
  DESIGN.md
Due: none

feat: デザイン仕様書どおりの見た目と動きをサイトに入れる
  apps/web/src/app/base.css
  apps/web/src/app/shell/copyright.tsx
  apps/web/src/app/shell/footer-contact.tsx
  apps/web/src/app/shell/header.tsx
  apps/web/src/app/shell/nav-link-class.ts
  apps/web/src/app/styles.css
  apps/web/src/pages/about/ui/about-heading.tsx
  apps/web/src/pages/about/ui/about-page.tsx
  apps/web/src/pages/about/ui/about-portrait.tsx
  apps/web/src/pages/about/ui/about-profile.tsx
  apps/web/src/pages/home/ui/home-intro.tsx
  apps/web/src/pages/home/ui/home-page.tsx
  apps/web/src/pages/home/ui/news-ticker.tsx
  apps/web/src/pages/home/ui/tag-lines.tsx
  apps/web/src/pages/voicebank/model/character-state.ts
  apps/web/src/pages/voicebank/ui/character-body.tsx
  apps/web/src/pages/voicebank/ui/character-profile.tsx
  apps/web/src/pages/voicebank/ui/character-section.tsx
  apps/web/src/pages/voicebank/ui/download-card-face.tsx
  apps/web/src/pages/voicebank/ui/download-card-info.tsx
  apps/web/src/pages/voicebank/ui/free-download-button.tsx
  apps/web/src/pages/voicebank/ui/hero-description.tsx
  apps/web/src/pages/voicebank/ui/hero-logo.tsx
  apps/web/src/pages/voicebank/ui/hero-section.tsx
  apps/web/src/pages/voicebank/ui/hero-tagline.tsx
  apps/web/src/pages/voicebank/ui/research-log.tsx
  apps/web/src/pages/voicebank/ui/research-logs.tsx
  apps/web/src/pages/voicebank/ui/truth-button.tsx
  apps/web/src/pages/works/ui/work-card.tsx
  apps/web/src/pages/works/ui/work-info.tsx
  apps/web/src/pages/works/ui/works-grid.tsx
  apps/web/src/shared/ui/background-video.tsx
  apps/web/src/shared/ui/filter-tabs.tsx
  apps/web/src/shared/ui/framed-image.tsx
  apps/web/src/shared/ui/social-links.tsx
  apps/web/vite.config.ts
Due: knip, lint, format

Show only the tagline in the first Voicebank view and smooth the scroll handoff
  apps/web/src/app/styles.css
  apps/web/src/pages/voicebank/ui/hero-copy.tsx
  apps/web/src/pages/voicebank/ui/hero-description.tsx
  apps/web/src/pages/voicebank/ui/hero-section.tsx
  apps/web/src/pages/voicebank/ui/hero-tagline.tsx
  apps/web/src/pages/voicebank/ui/voicebank-page.tsx
  apps/web/src/shared/ui/framed-image.tsx
Due: knip, lint, format

feat: バグ画面にドライブの立ち絵素材とグリッチノイズを入れ、Voicebank の OGP を離途用にする
  DESIGN.md
  apps/web/public/101_Lit/Lit_UTAU_bug.webp
  apps/web/public/OGP_Lit.png
  apps/web/src/app/routes/_site/voicebank.tsx
  apps/web/src/app/styles.css
  apps/web/src/pages/voicebank/ui/character-figure.tsx
  apps/web/src/pages/voicebank/ui/character-section.tsx
  apps/web/src/pages/voicebank/ui/corrupted-backdrop.tsx
  apps/web/src/pages/voicebank/ui/research-logs.tsx
  apps/web/src/pages/voicebank/ui/truth-button.tsx
Due: knip, lint, format

fix: CodeRabbit の指摘に合わせて拡大を低モーション設定で止め、離途まわりの読み上げを整える
  apps/web/src/app/shell/footer-contact.tsx
  apps/web/src/app/styles.css
  apps/web/src/pages/voicebank/ui/download-card-face.tsx
  apps/web/src/pages/voicebank/ui/research-logs.tsx
  apps/web/src/pages/voicebank/ui/research-title.tsx
  apps/web/src/pages/voicebank/ui/truth-button.tsx
  apps/web/src/pages/works/ui/work-card.tsx
  apps/web/src/shared/ui/filter-tabs.tsx
  apps/web/src/shared/ui/social-links.tsx
Due: knip, lint, format

Percent-encode parentheses in the static-noise SVG data URL
  apps/web/src/app/styles.css
Due: none

Path conditions:
  knip: any of: *.{js,ts,jsx,tsx}
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx}
  typecheck_stories: any of: *.stories.tsx
  check_stories: any of: src/components/**/*.tsx
